<div class="row" ng-mouseenter="isActive = true" ng-mouseleave="isActive = false">
  <div class="col-xs-12">
    <div class="contentItem">
      <div class="contentControls" ng-class="{'contentControls-active': isActive}">
        <button class="btn btn-xs btn-block btn-default" ng-class="{'disabled': index() == 0}" ng-click="moveUp()">
          <span class="glyphicon glyphicon-arrow-up"></span>
        </button>
        <select class="form-control" ng-model="newIndex" ng-change="moveTo(newIndex)" ng-options="n for n in [] | range:0:lastIndex()">
        </select>
        <button class="btn btn-xs btn-block btn-default" ng-class="{disabled: index() == lastIndex()}" ng-click="moveDown()">
          <span class="glyphicon glyphicon-arrow-down"></span>
        </button>
        <button class="btn btn-xs btn-block btn-danger" ng-click="remove()">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </div>
      <ng-include src="getTemplateByType()"></ng-include>
    </div>
  </div>
</div>