<div class="item item-material">
  <button class="btn btn-info btn-config" ng-click="$parent.showConfig = !$parent.showConfig">
    <span class="glyphicon glyphicon-cog"></span>
  </button>

  <div class="itemControls" ng-class="{'itemControls-active': $parent.showConfig}">
    <select class="form-control" ng-model="content.type" ng-change="$parent.resetItem()">
      <option value="material">Material</option>
      <option value="instruction">Instruction</option>
      <option value="ENTITY">Entity</option>
    </select>
  </div>

  <div class="itemContent" ng-switch="content.type">

    <div ng-switch-when="material">
      <h5>{{content.id}} <small>({{content.mandatory ? 'Mandatory' : 'Optional'}})</small></h5>
    <p>{{content.description}}</p>
    </div>

    <div ng-switch-when="instruction">
      <p>{{content.text}}</p>
    </div>

    <div ng-switch-when="ENTITY">
      <p>{{content.text}}</p>
    </div>

  </div>
</div>